.pos-interface-outer
	position relative
	padding 20px

	.pos-interface
		position relative
		height 550px
		border 2px solid #ddd
		widht 100%
		background alpha(white, 80%)
		border-radius 5px
		
		.pos-actions
			position relative
			height 50px 
			background white
			padding: 8px;
			border-radius 5px 5px 0 0
			border-bottom: 2px solid #ddd;
		.pos-outer
			position relative
			background darken(white, 5%)
			height 450px;
			border 1px solid #ddd
			border-radius 5px
			padding 8px
		
		.pos-items
			position relative
			background #fff;
			padding: 10px
			height 380px
			overflow-y auto
			
			.td-input
				width 50px

.total
	position relative
	background #fff
	padding 20px
	
	h2
		margin-top 0